/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 230px;
  padding: 10px;
  margin: 20px;
  border-color:rgb(255, 145, 0);

}

button {
  background-color: #200581;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;

}

/* App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: rgb(61, 4, 196);
  font-family: Arial, sans-serif;
}


/* WorkPage.css */
.WorkPage {
  text-align: center;
  margin-top: 20px;
  
}

/* Timer.css */
.Timer {
  font-size: 2rem;
  font-weight: bold;
 
}

/* Dashboard.css */
.Dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
}

.Dashboard .tile {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
